  /*to style the form*/
.form {
    margin-top: 16px; /*to leave space at the top and bottom*/
    margin-bottom: 16px;
    /* border: 1px solid black; */
  }

  .searchbar_container {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    row-gap: 16px;
    border-radius: 24px;
    /* border: 2px solid black; */
    padding-left: 16px;
    padding-right: 16px;
  }
  
  .searchbar_input {
    border-radius: 20px; /*to make it more round*/
    padding-top: 2px;
    padding-bottom: 2px;
    outline: none;
    font-size: 20px;
    padding: 4px 8px;
  }
  
  